.Rproj
.DS_Store
.Rhistory
.RData
.Rapp.history
Rplots.pdf
**/retro_well_specified.rds
Figures/jeremy_outdated_figs
**/*.out
**/misc
**/Misc
**/perCountryData.json
.Rproj.user

severity-estimation-retro/
severity-estimation-rt/
severity-estimation-retro-v2/
severity-estimation-rt-v2/
real-data-reg/
Data/batch-results/retro-curves-min.rds
Data/batch-results/retro-curves-oracle.rds
